<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <header>
        <a href="/">首页</a>
    </header>
    <div>
        <%if(locals.islogined){%>
        <p><%=locals.msg||""%></p>
        <%}else{%>
        <form method="post" action="/login">
            <label>登录名称<input type="text" name="loginname" value="admin"/></label>
            <label>登录密码<input type="text" name="password" value="123"/></label>
            <label><input type="submit" value="登录"/></label>
        </form>
        <%}%>
    </div>
    <style>
        label{
            display: block;
        }
    </style>
</body>
</html>